<div id="header">
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <div class="round nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    </ul>
  </div>
</div>
